body {
    background-color: #FBF9F1;
    margin: 0;
    padding: 0;
    display: flex;
  }

  /* New CSS for the vertical fixed header on the left */
  #header {
    background-color: #AAD7D9;
    color: white;
    padding: 10px;
    display: flex;
    width: 12.5rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    z-index: 1000;
  }

  .error-message {
    color: red;
    display: none;
}

  #logo {
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    width: 8rem; /* Set the width of your logo */
    height: 6rem; /* Set the height of your logo */
    margin-bottom: 10px;
  }

  #line{
    margin-top: -1rem;
    width: 14rem;
  }

  #header-text {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: Georgia;
  }

  #user-question {
    resize: none;
    height: 6.25rem; /* 100px in rem */
    border-color: #F5F1E2;
    background-color: #F5F1E2;
    border-radius: 1rem; /* 5px in rem */
    padding: 0.8rem; /* 10px in rem */
    font-size: 1rem; /* 16px in rem */
    font-family: "Arial", sans-serif;
    font-weight: normal;
    color: #333;
}

#user-input {
    resize: none;
    height: 26.875rem; /* 430px in rem */
    border-color: #F5F1E2;
    background-color: #F5F1E2;
    border-radius: 1rem; /* 5px in rem */
    padding: 0.8rem; /* 10px in rem */
    font-size: 1rem; /* 16px in rem */
    font-family: "Arial", sans-serif;
    font-weight: normal;
    color: #333;
}
form {
    margin-left: -2rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}
.left-panel{
    margin-left: 20rem;
}
.right-panel{
    margin-top: 9rem;
}

h1{
    margin-left: 17rem;
    font-family: Monospace;
    margin-bottom: 6rem;
}
#line2 {
    margin-left: 90rem;
    margin-top: -15rem;
    width: 60rem;
 /* Add margin at the top of #line2 */
}
#submitBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.3125rem; /* 5px in rem */
    padding: 0.625rem 0.9375rem; /* 10px 15px in rem */
    cursor: pointer;
    margin-bottom: 1.875rem; /* 30px in rem */
}

#submitBtn:hover {
    background-color: #45a049;
}
  /* Rest of your existing styles */
  .frame {
    /* Add any styles you need for the frame */
    flex: 1;
    margin-left: 300px; /* Adjust this margin based on the header width *//* Add padding to create space for the header */
  }
